#
# User defined Makefile options for libnetceiver

### The C compiler and options:

CC       ?= gcc
CFLAGS   ?= -O2

CXX      ?= g++

CXXFLAGS ?= -g -O2 -Wall -Woverloaded-virtual

#LDFLAGS  ?= -g -ggdb -O0

LDCONFIG = ldconfig

### The directory environment:

DESTDIR ?=
PREFIX ?= /usr/local

BINDIR ?= $(PREFIX)/bin
LIBDIR ?= $(PREFIX)/lib
INCDIR ?= $(PREFIX)/include
MANDIR ?= $(PREFIX)/share/man
PCDIR  ?= $(PREFIX)/lib/pkgconfig
